<p>This is an awesome place where you can learn to code for FREE!</p>

<%= form_tag '/search', method: :get do %>
    <%= label_tag 'q', "Search for Resources" %>
    <%= text_field_tag 'q' %>
    <%= submit_tag 'Search'%>
<% end %>

<%= render 'books/books_list' %> 